html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* mis css */

#fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(15px) brightness(0.7);
  transform: scale(1.1); /* Para evitar bordes al hacer blur */
} 

.main  {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "meteo reloj"
    "meteo pass"
    "meteo lista";
  gap: 20px;
  padding: 20px;
}

h1 {
  font-size: 38px;
  color: #05344c;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;	
  align-items: center;
  text-align: center;  
  margin-bottom: 20px;
}

.meteo-card {
  grid-area: meteo;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);           
  border-radius: 15px;                 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.wheater-icon {
  width: 20px;
  height: 20px;
}

.meteo-card p {
  margin: 4px 0 12px;
  font-size: 15px;
  color: #4ddf8a;
}

[id=humidity], [id=precipitation], [id=wind], [id=wind-speed] {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 14px;
  color: #62447ee5;
} 

div {
 display: flex;
 display: block;
 unicode-bidi: isolate;
}

.forecastwheather{
display: flex;
vertical-align: baseline;
}

span {
 font-size: 14px;
 color:#62447ee5;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.hourly-forecast {
font-weight: poppins, sans-serif;
left: 0;
gap: 10px;
}

img {
  width: 60px;
  height: 60px;
  justify-content: space-between;
}

.clock-digital {

  grid-area: reloj;
  display: flex;
  flex-direction: column; /* organiza los elementos en columna */
  align-items: center;/* alinea texto a la derecha */
  gap: 10px;        /* espacio entre hora, fecha y mensaje */
  padding: 20px;
  /* Fondo difuminado */
  background: rgba(255, 255, 255, 0.1);  /* transparente */
  backdrop-filter: blur(10px);           /* efecto cristal */
  border-radius: 15px;                    /* esquinas redondeadas */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* sombra sutil */
  min-width: 200px;  /* Ancho mínimo */
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.hora {
  font-size: 20px;
  font-weight: bold;
  color: #37c78d;
  text-align: right;
}

.fecha {
  font-size: 20px;
  font-weight: bold;
  color: #4ddf8a;
  text-align: right;
}

#mensaje {
  font-size: 18px;
  font-style: italic;
  color: #62447e;
  max-width: 250px;
  text-align: justify;
}

.right-column {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;          /* espacio entre password y lista */
  margin-top: 120px;  /* baja todo el bloque si quieres */
}

.password-card {
  grid-area: pass;
  right: 0;
  top: 0;
  margin-left: 0;
  background: rgba(255, 255, 255, 0.1); 
  padding: 20px;
  margin: 20px 20px;
  backdrop-filter: blur(10px);  
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

h2 {
  margin-bottom: 15px;
  color: #37c78d;
  font-size: 18px;
  font-style: italic;
}

label[for="longitud"] {
  font-size: 18px;
  color:#4ddf8a;
}

.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #05344c;
}

.resultado span {
  display: block;
  margin-top: 5px;
  font-size: 17px;
  color: #333;
  word-break: break-all;
}

input[type="number"] {
  width: 98%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
font-family: poppins, sans-serif;
margin-top: 10px;
cursor: pointer;
background-color: #0371d8;
border: none;
color: #f4f4f4;
padding: 10px;
border-radius: 5px;}

button:hover {
  background-color: #0371d8d9;
  transform: ease 3s all;
}

.lista-container {
    grid-area: lista;
    top: 0;
    margin-left: 0;
    display: block;           /* antes era flex, lo cambiamos */
    width: 100%;              /* ocupa todo el ancho de la columna derecha */
    height: auto;             /* deja que la altura dependa del contenido */
    padding: 20px;
    margin: 0;                /* elimina margin que empuja hacia abajo */
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    overflow-y: auto;
    background-color: #fffdfd93;
}

.title {
  color: #37c78d;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: #05344c;
  font-weight: bold;
}

.delete-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}